body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #E5B961;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 8px;
}

.title {
    color: #166534;
    font-size: 20px;
    font-weight: bold;
}

.auth-buttons button {
    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 8px;
}

.register {
    background-color: #d1d5db;
}

.content {
    padding: 24px;
}

.intro {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.intro-container {
    display: flex;
    align-items: center;
}

.intro-logo {
    height: 150px;
    margin-right: 16px;
}

.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
}

.highlight {
    color: #E5B961;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 24px;
}

.card {
    padding: 16px;
    border-radius: 8px;
}

.product-cards, .guides {
    background-color: #E5B961;
}

.product-cards:hover {
    transform: scale(1.05);
}

.tracker {
    background-color: #d1d5db;
}
.tracker:hover {
    transform: scale(1.05);
}

.container-title {
    font-weight: bold;
}
.guide-title:hover {
    transform: scale(1.05);
}

.card guides img {
    width: 30px;
}